#container
{
margin:auto;
width:70%;
}

#top
{
float:left;
width:100%;
background-color:brown;
}

#center
{
float:left;
width:60%;
background-color:yellow;
}

#left
{
float:left;
width:20%;
background-color:red;
}

#right
{
float:left;
width:20%;
background-color:blue;
}

#bottom
{
float:left;
width:100%;
background-color:#f0f0f0;
}
